
//ANIMATION DES LETTRES COMPOSANTS LE LOGO DU SITE OHMYFOOD
@keyframes lettersanim {
    100% {
        visibility: visible;
        top: -1em;
        text-shadow:
        0 0.05em 0 $color-secondary-lighter,
        0 0.1em 0 $color-secondary-lighter,
        0 0.11em 0 $color-secondary-lighter,
        0 0.12em 0 $color-secondary-lighter,
        0 0.13em 0 $color-secondary-lighter,
        0 0.14em 0 $color-secondary-lighter,
        0 0.15em 0 $color-secondary-lighter,
        0 0.16em 0 $color-secondary-lighter,
        0 0.17em 0 $color-secondary-lighter,
        0 3em 1.2em rgba(0, 0, 0, 0.2);   
    }
}


//INITIALISATION DU BACKGROUND DURANT L'ANIMATION DU LOADING-SPINNER
@keyframes fade-out {
    0% {
        background: $color-quaternary;
        width: 100%;
        height: 100%;
        visibility: visible;
    }
    98% {
        opacity: 1;
    }
    100% {
        background: $color-quaternary;
        opacity: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;    
        z-index: -1;
    }
}

//INITIALISATION ET ANIMATION DE L'IMAGE /ICONE EN ARRIERE PLAN DU LOADING-SPINNER
@keyframes pictogramme {
    0% {
        visibility: visible;
    }
    
    10% {opacity: 0.02;}
    20% {opacity: 0.04;}
    30% {opacity: 0.08;}
    40% {opacity: 0.04;}
    50% {opacity: 0.02;}
    60% {opacity: 0.04;}
    70% {opacity: 0.08;}
    80% {opacity: 0.04;}                
    90% {opacity: 0.02;}

    100% {
        visibility: hidden;
        z-index: -1;
    }
}