//CHAMPS DE RECHERCHE (PAGE D'ACCUEIL)

input {
    &#search-field {
        width: inherit;
        height: inherit;
        text-align: center;
        font-size: 1.2em;
        border: none;
        box-shadow: inset 0 0.4em 0.6em $color-shadow;
        color: $color-input-text;
    }
}


@media all and (min-width: map-get($breakpoint, desktop)) { 

    input#search-field-desktop {
        //width: inherit;
        height: inherit;
        text-align: center;
        font-size: 1.2em;
        border: none;
        box-shadow: 0 0.3em 0.5em #5e5e5e36;
        color: #35353575;
        border-radius: 0.5em;
        width: 100%;
        padding: 0 1em 0 1em;
        margin: 2em;
    }  
}