//CHAMPS DE RECHERCHE (PAGE D'ACCUEIL)

//PARAMETRES POUR LA VERSION MOBILE DU SITE
input {
    &#search-field {
        width: inherit;
        height: inherit;
        text-align: center;
        font-size: 1.2em;
        border: none;
        box-shadow: inset 0 0.4em 0.6em $color-shadow;
        color: $color-input-text;
    }
}

//PARAMETRES POUR LA VERSION DESKTOP DU SITE
@media all and (min-width: map-get($breakpoint, desktop)) { 

    input#search-field-desktop {
        width: 100%;
        height: inherit;
        text-align: center;
        font-size: 1.2em;
        border: none;
        box-shadow: 0 0.3em 0.5em $color-input-box-shadow;
        color: $color-input;
        border-radius: 0.5em;
        padding: 0 1em 0 1em;
        margin: 2em;
    }  
}