// VARIABLES
$link-color: #000000;
$link-color-white: #ffffff;
$thumbnail_width: 100%;
$thumbnail-height: 25em;
$thumbnail-border-radius: 2em 2em 0 0;
//$btn-gradient: linear-gradient(#ff79da, #9356DC);

$color-primary: #ff79da;
$color-secondary: #9356dc;
$btn-gradient: linear-gradient(darken($color-primary, 0%), darken($color-secondary, 0%));
$btn-lighten-gradient: linear-gradient(lighten($color-primary, 5%), lighten($color-secondary, 5%));

$paragraphe: 1em;

$btn-shadow: #cccccc;
$dark-btn-shadow: darken($btn-shadow, 10%);
$light-btn-shadow: lighten($btn-shadow, 10%);


/////////////////////////////////////////////////////////////////////////////


/** {
    background-color: #fff;
}*/
@font-face {
    font-family: 'shrikhandregular';
    src: url('police/shrikhand-regular-webfont.woff2') format('woff2'),
         url('police/shrikhand-regular-webfont.woff') format('woff'),
         url('police/shrikhand-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('police/roboto-regular-webfont.woff2') format('woff2'),
         url('police/roboto-regular-webfont.woff') format('woff'),
         url('police/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
}

// MISE EN FORME
h1 {
    font-size: 4em;
    font-family: shrikhandregular, arial, serif;        
}

h2 {
    font-size: 4em;
    font-family: robotoregular, arial, serif;
    width: 85%;
}

h3 {
    font-size: 3em;
    font-family: robotoregular, arial, serif;
    margin: 0.2em 0 0 0;
}

h4 {
    font-size: 2.6em;
    font-family: robotoregular, arial, serif;
    font-weight: normal;
    margin: 0.2em 0 0 0.7em;
}

h5 {
    font-family: robotoregular, arial, serif;
}

p {
    font-size: 2em;
    font-family: robotoregular, arial, serif;
    margin: 0 1em;
}

a {
    text-decoration: none;
    color: $link-color;
}


//FONTAWESOME
span.fas.fa-arrow-left {
    position: absolute;
    margin: 0.7em 1em;
}

span.fas.fa-map-marker-alt {
    position: absolute;
    margin: 0 7em 0 0;
}

.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 3em;
}

.far {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    font-size: 5em;
}

// MIXIN ET VARIABLES
@mixin miseEnPage {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #f6f6f6;
    & .green-underline {
        margin: 0 0 0 1em;
        width: 7em;
        height: 0.5em;
        background-color: #99e2d0;
    }    
}

@mixin header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin header-nav {
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding: 0 1em;
}

@mixin user-button {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 8em;
            box-shadow: 0em 0.4em 0.5em rgb(155 155 145 / 15%);
            border-radius: 1.5em;
            font-size: large;
            font-family: robotoregular, arial, serif;   
            margin: 3em 0 3em 0; 
            background-color: #f6f6f6;
            &:hover {
                background-color: #f5edff; /*METTRE UN DARKEN !!!*/
            }
        }


//LOADING SPINNER
.loading-page {
    transition-delay: 2600ms;
    //visibility: hidden;
    
    &__background {
        animation: 3000ms linear fade-out;
        position: fixed;
        top: 0;
        left: 0; 
        z-index: 98;
        width: 0%;
        height: 0%;
        //background: rgba(255, 255, 255, 1);
    }

    &__loading-spinner {
        animation: 500ms linear spinner;
        animation-iteration-count: 8;
        visibility: hidden;
        position: fixed;
        z-index: 99;
        top: 40%;
        left: 35%;
        width: 15em;
        height: 15em;
        border: solid 1em rgba(0, 0, 0, 0.1);
        border-radius: 10em;
        border-bottom-color: #9356dc;
        border-right-color: #ff79da;
    }
}

@keyframes spinner {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
        visibility: visible;        
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(360deg);
        z-index: -1;
    }           
}

@keyframes fade-out {
    0% {
        background: rgba(255, 255, 255, 1);
        width: 100%;
        height: 100%;
    }
    20% {
        background:  #ff79da;
    }
    40% {
        background: rgba(255, 255, 255, 1);
    }
    60% {
        background:  #ff79da;
    }
    60% {
        background: rgba(255, 255, 255, 1);
    }
    80% {
        background:  #ff79da;
    }
    95% {
        background: rgba(255, 255, 255, 1);
        opacity: 1;
    }
    100% {
        background: rgba(255, 255, 255, 1);
        opacity: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;    
        z-index: -1;
    }
}


// HEADER
header {
    @include miseEnPage();
    padding: 2em 0 2em 0;
    & p {
        font-size: $paragraphe * 2;
    }
}

.header-navigation {
    width: 100%;
    &__logo {
        @include header();
        padding-bottom: 2em;
        & span.fas.fa-arrow-left {
            position: absolute;
            margin-right: 17em;
        }
        & img {
            width: 40%;
            margin: 1em 0 0 0;
        }
    }
    &__search {
        @include header();
        &__field-form {
            width: 100%;
            height: 8em;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            color: darkgray;               
        }
        & input {
            background-color: #eaeaea;
            &:hover {
                z-index: 99;
            }
            &:active {
                z-index: 99;
            }
            &:focus {
                z-index: 99;
            }
        }
    }    
    &__localisation {
        padding: 2em 4em 0 4em;
        background-color: #f6f6f6;         
        text-align: center;
        & h2 {
            @include header-nav();         
        }
        & p {
            @include header-nav();            
        }
        & a {
            @include header-nav(); 
            padding: 4em 0 8em 0;            
        }                
        &__button {
            & h5 {
            //width: 8em;
            //height: 3em;
            color: #ebebeb;
            font-size: 3em;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em 2em 0.5em 2em;
            background: $btn-gradient;
            border-radius: 4em;
            box-shadow: 0 0.4em 0.5em $btn-shadow; //0 0.4em 0.5em rgb(1 1 1 / 10%);
            cursor: pointer; //Change le curseur lors du survol
            &:hover {
                background: $btn-lighten-gradient;
                box-shadow: 0 0.4em 0.5em $dark-btn-shadow; //0 0.4em 0.5em rgb(1 1 1 / 30%);
            }
            }
        }
    }
}

input {
    &#search-field {
        width: inherit;
        height: inherit;
        text-align: center;
        font-size: 2em;
        border: none;
        box-shadow: inset 0 0.4em 0.6em #5e5e5e36;
        color: darkgray;
    }
}

.new p {
    color: #269d80;
    font-size: 1.6em;
    font-weight: 900;
}


//MIXIN ITERATING
@mixin item-number {
    @for $i from 1 through 4 {
        &-#{$i} {
            margin: 3em 0em;
            box-shadow: 0 1em 1em #eaeaea;
            border-radius: 2em;
            height: 36em;
            width: 85%;
            & img {
                width: $thumbnail_width;
                height: $thumbnail-height;
                border-radius: $thumbnail-border-radius;
                object-fit: cover;
            }
        }
    }
}


// MAIN
span.far.fa-heart {
    &:hover {
        color: #ff79da;
        font-weight: 900;
    }
}


main {
    @include miseEnPage();
    & h5 {
        //width: 8em;
        //height: 3em;
        color: #ebebeb;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 4em 1em 4em;
        background: $btn-gradient;
        border-radius: 4em;
        box-shadow: 0 0.4em 0.5em $btn-shadow; //0 0.4em 0.5em rgb(1 1 1 / 10%);

        &:hover {
            background: $btn-lighten-gradient;
            box-shadow: 0 0.4em 0.5em $dark-btn-shadow; //0 0.4em 0.5em rgb(1 1 1 / 30%);
        }
    }       
}

////////////////////////////////

@mixin slide-up {
    animation-name: slideUp;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    visibility: visible;
}



///////////////////////////////

.main {
    &-how-to-use {
        width: 85%;
        &__button {

            & .step {
                position: absolute;
                padding: 3.5em 3.5em 0 0;
                margin: 3em -1em;
                width: 0em;
                height: 0em;
                border-radius: 10em;
                background-color: #9356DC;
                & p {
                    font-size: 2em;
                    margin: -1.5em 0 0 0.6em;
                    position: absolute;
                    color: #fff;
                }
            }
            &__choose-restaurant {
                @include user-button();
                }
            &__compose-menu {
                @include user-button();
            }
            &__taste-restaurant {
                @include user-button();
            }
        }
    }
    &-restaurants-list {
        background-color: #f6f6f6;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%; //AJOUT VERIF FIREFOX
        padding: 6em 0;
        margin-top: 8em;
        margin-bottom: 0;//-8em;
        &__item {
            @include item-number;
            &_thumbnail {
                height: 32em;
            }
        }
        &-header {
            width: 100%;
        }
        & .new {
            position: absolute;
            right: 4em;
            padding: 0.6em 1.6em;
            border-radius: 0.2em;
            font-size: x-large;
            margin: 1em 0;
            background-color: #99e2d0;        
        }
        & .description {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 1em 3em;
            &__text p {
                margin: 0;
                font-size: 2.6em;
                font-weight: normal;
            }
        }
    }
    &-content {
        & img {
            width: 100%;        
            object-fit: cover;
        }
        &__restaurant-name {
            position: absolute;
            margin-top: 53%;
            background-color: #f6f6f6;
            width: 100%;
            //height: 10%; /*A SUPPRIMER*/
            border-radius: 6em 6em 0 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            & h1.menu-title {
                margin: 1em 3em 1em 0;
                padding: 0;
                font-weight: normal;
            }
        }
        &__thumbnail {
            margin-top: 5em;
            width: 95%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            &-item {
                &-1 {
                    @include slide-up;
                }
                &-2 {
                    @include slide-up;
                    animation-delay: 90ms;
                }
                &-3 {
                    @include slide-up;
                    animation-delay: 180ms;
                }

            }
        }
    }
}

@keyframes slideUp {
	0% {
        transform: translateY(100%);
        opacity: 0;
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
        transform: translateY(2%);
        opacity: 1;
	}			
	100% {
		transform: translateY(0%);
	}	
}


.description-heart {
    margin-right: 3em;
    font-size: smaller;
}

.price {
    display: flex;
    align-items: center;
    height: 70%; //100%;
    //width: 4em;
    padding: 1.5em 2em 0 2em;
    //margin-left: 2em;
    //background-color: coral; /*A SUPPRIMER*/
    //padding-bottom: 0.8em;
    font-size: 2.6em;
    font-weight: 900;
}

.main-content__thumbnail-item__content {
    width: 70%;
    & h4.thumbnail-title {
        font-weight: 900;
        //font-size: 3em;
    }
}

///////////////////////////////////////////////////////////////////////////
//ITEM 1
.main-content__thumbnail-item {
    @for $i from 1 through 4 {
        &-#{$i} {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            height: 12em;
            margin: 1.4em 0;
            border-radius: 2em;
            box-shadow: 0 0.4em 0.5em rgb(1 1 1 /10%);
            overflow: hidden;

            &:hover {
                & .main-content__thumbnail-item__right-button {
                    transition: all 0.85s cubic-bezier(0.27, 0.04, 0.01, 1.00);
                    width: 25%;
                    justify-content: center;
                    align-items: center;
                    height: 12em;
                    right: 2em;
                    border-radius: 0 2em 2em 0;
                    color: white;
                    background-color: #99e2d0;
                }
                & h4.thumbnail-title {
                    /* display: flex; */
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & .main-content__thumbnail-item__content {
                    //color: chocolate; /*A SUPPRIMER*/
                    /* flex-wrap: nowrap; */
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

/*
//ITEM 2
.main-content__thumbnail-item-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 12em;
    margin: 1.4em 0;
    border-radius: 2em;
    box-shadow: 0 0.4em 0.5em rgb(1 1 1 /10%);

    &:hover {
        & .main-content__thumbnail-item__right-button {
            transition: all 0.85s cubic-bezier(0.27, 0.04, 0.01, 1.00);
            width: 25%;
            justify-content: center;
            align-items: center;
            height: 12em;
            right: 2em;
            border-radius: 0 2em 2em 0;
            color: white;
            background-color: #99e2d0;
        }
        & h4.thumbnail-title {
            // display: flex;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .main-content__thumbnail-item__content {
            //color: chocolate; //A SUPPRIMER
            // flex-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

//ITEM 3
.main-content__thumbnail-item-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 12em;
    margin: 1.4em 0;
    border-radius: 2em;
    box-shadow: 0 0.4em 0.5em rgb(1 1 1 /10%);

    &:hover {
        & .main-content__thumbnail-item__right-button {
            transition: all 0.85s cubic-bezier(0.27, 0.04, 0.01, 1.00);
            width: 25%;
            justify-content: center;
            align-items: center;
            height: 12em;
            right: 2em;
            border-radius: 0 2em 2em 0;
            color: white;
            background-color: #99e2d0;
        }
        & h4.thumbnail-title {
            // display: flex;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .main-content__thumbnail-item__content {
            //color: chocolate; //A SUPPRIMER
            // flex-wrap: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}*/

.main-content__thumbnail-item__right-button {
    display: flex;
    width: 0;
    color: rgba(0, 0, 0, 0);
    overflow: hidden;
}



//FOOTER
footer {
    background-color: #353535;
    height: 26em; //30em;
    padding: 1em 0;
    & h1 {
        color: white;
        font-size: 3em;
        font-weight: normal;
        padding-top: 0.4em;
        padding-left: 1em;
    }
    & ul {
        //background: #424242; //A SUPPRIMER
        padding-bottom: 2em;
    }
    & li {
        color: white;
        text-decoration: none;
        list-style-type: none;
        font-size: 1.1em;
        display: flex;
        flex-flow: row nowrap;
        padding: 0.2em;
        & span {
            width: 1em;
            padding-right: 1em;
            &.fas {
                font-size: 1.8em;
                display: flex;
                align-items: center;
            }
        }
        & p {
            margin: 0;
            color: $link-color-white;
        }
    }
}



/*
//BOUTONS
.main-content__thumbnail-item {

    &__right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 100%;        
    
        &__button {
            //background-color: aquamarine;
            height: 12%;
            width: 0;
            object-fit: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            color: rgba(0, 0, 0, 0);       
            &:hover {
                transition: all 0.85s cubic-bezier(0.27, 0.04, 0.4, 0.93);
                content: "";
                width: 20%;
                height: 12%;
                right: 2em;
                border-radius: 0 2em 2em 0;
                color: white;
                background-color: aquamarine;
                position: absolute;
            }
        }
    }
}*/