// PARAMETRES POUR LA VERSION MOBILE DU SITE //
///////////////////////////////////////////////


//DESACTIVATION DES CONTENEURS DE LA VERSION DESKTOP //
.main-container-desktop {
    display: none;
}

.main-how-to-use-desktop {
    display: none;
}

.main-restaurants-list-desktop {
    display: none;
}
//////////////////////////////////////////////////////


// ELEMENTS DES PAGES ACCUEIL ET MENU
body {
    margin: 0;
    background: $color-octonary;
}

.main-container {
    background: $color-septenary;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5em;

    width: 100%;
}

.loading-page {
    //@include loadingSpinner(); //LOADING-SPINNER CIRCULAIRE
    @include logoAnim(); //LOADING-SPINNER "ANIMATION DES LETTRES DU LOGO"
}

.new p {
    color: $color-tertiary-darker;
    font-size: 0.7em;
    font-weight: 900;
}

//ELEMENT MAIN
main {
    @include miseEnPage();
    & h5 {
        color: #ebebeb;
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em 3em 1em 3em;
        background: $btn-gradient;
        border-radius: 3em;
        box-shadow: 0 0.4em 0.5em $btn-shadow;

        &:hover {
            background: $btn-lighten-gradient;
            box-shadow: 0 0.4em 0.5em $dark-btn-shadow;
            cursor: pointer; //VERSION DE DEMONSTRATION: Change le curseur lors du survol
        }
    }       
}

//ELEMENT CLASS MAIN
.main {
    &-how-to-use {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        padding: 0 0 3em;
        background: $color-quaternary;

        &__button {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 7em;

            & .step {
                position: relative;
                padding: 1.5em 1.5em 0 0;
                margin: 3em -1em;
                border-radius: 10em;
                background-color: $color-secondary;
                
                & p {
                    font-size: 1.2em;
                    margin: -1.35em 0 0 0.35em;
                    position: absolute;
                    color: $color-quaternary;
                }
            }
            &__choose-restaurant {
                @include user-button();
                }
            &__compose-menu {
                @include user-button();
            }
            &__taste-restaurant {
                @include user-button();
            }

            &:hover {
                animation: shake-btn 800ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                cursor: pointer; //VERSION DE DEMO: Change le curseur lors du survol
            
                & span {
                color: $color-secondary;
                }
            }
        }
    }
    &-restaurants-list {
        background-color: $color-septenary;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 0 2em;
        margin-top: 1em;
        margin-bottom: 0;
        &__item {
            @include item-number;
            &_thumbnail {
                height: 32em;
            }
        }
        &-header {
            width: 100%;
        }
        & .new {
            position: absolute;
            right: 6%;
            padding: 0.2em 0.2em;
            border-radius: 0.2em;
            font-size: x-large;
            margin: 3%;
            background-color: $color-tertiary;        
        }
        & .description {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0.2em 0.5em;
            &__text p {
                margin: 0;
                font-size: 1.2em;
                font-weight: normal;
            }
        }
    }
    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        width: 100%;
        & img {
            width: 100%;
            height: 20em;        
            object-fit: cover;
        }
        &__restaurant-name {
            margin-top: -6em;
            background-color: $color-septenary;
            width: 100%;
            border-radius: 3em 3em 0 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            & h1 {
                margin: 1.5em 0;
                padding: 0 0.5em;
                font-size: 1.6em;
                font-weight: normal;
            }
        }
        &__thumbnail {
            margin-top: 0;
            width: 95%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            &-item {
                &-1 {
                    @include slide-up;
                }
                &-2 {
                    @include slide-up;
                    animation-delay: 3890ms;
                }
                &-3 {
                    @include slide-up;
                    animation-delay: 3980ms;
                }
                &-4 {
                    @include slide-up;
                    animation-delay: 4070ms;
                }
            }
        }
    }
}

//FONTAWESOME -HEART- POUR LA SELECTION DES FAVORIS SUR LA PAGE D'ACCUEIL
.description-heart {
    font-size: 0.4em;
    padding: 0 5em;
}

//////////////////////////////////
//ELEMENTS POUR LES PAGES DE MENUS
.price {
    display: flex;
    align-items: center;
    padding: 1.2em 1.2em 0 1.2em;
    font-size: 1em;
    font-weight: 900;
}

.main-content__thumbnail-item__content {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 auto;
    padding-left: 0.4em;
    & h4.thumbnail-title {
        font-weight: 900;
        font-size: 1.1em;
        padding-bottom: 0.2em;
    }
    & p {
        font-size: 0.9em;
        font-family: Arial, serif;
        font-weight: normal;
    }           
}

//VIGNETTE DE PRESENTATION DES DIFFERENTS CHOIX -ENTRÉES /PLATS /DESSERTS-
.main-content__thumbnail-item {
    @for $i from 1 through $max-choice {
        &-#{$i} {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color-background-primary;
            height: 5em;
            margin: 1.2em 0 0.1em;
            border-radius: 1em;
            box-shadow: 0 0.4em 0.5em rgb(1 1 1 /10%);
            overflow: hidden;

            &:hover {
                cursor: pointer; //VERSION DE DEMONSTRATION: Change le curseur lors du survol
                & .main-content__thumbnail-item__right-button {
                    transition: all 0.85s cubic-bezier(0.27, 0.04, 0.01, 1.00);
                    width: 45%;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    right: 2em;
                    font-size: 1.5em;
                    color: $color-quaternary;
                    background-color: $color-tertiary;
                }
                & h4.thumbnail-title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & .main-content__thumbnail-item__content {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.main-content__thumbnail-item__right-button {
    display: flex;
    width: 0;
    color: rgba(0, 0, 0, 0);
    overflow: hidden;
}



// PARAMETRES POUR LA VERSION DESKTOP DU SITE //
////////////////////////////////////////////////
@media all and (min-width: map-get($breakpoint, desktop)) {

// DESACTIVATION DES CONTENEURS DE LA VERSION MOBILE //
    .main-container {
        display: none;
    }

    .main-how-to-use {
        display: none;
    }

    .main-restaurants-list {
        display: none;
    }
///////////////////////////////////////////////////////


    .main-how-to-use-desktop {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -10em;
        position: absolute;
        &__bloc {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 0;
        }
        &__content {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
        }
        &__button {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 61%;
            margin: 0 0.5em;
            width: 21em;
            & .step {
                position: absolute;
                padding: 1.2em;
                margin: 2em 16em 2em -1.5em;
                border-radius: 10em;
                background-color: $color-secondary;

                & p {
                    font-size: 2em;
                    margin: -0.7em 0 0 -0.28em;
                    position: absolute;
                    color: $color-quaternary;
                }
            }
            &__choose-restaurant {
                @include user-button();
                }
            &__compose-menu {
                @include user-button();
            }
            &__taste-restaurant {
                @include user-button();
            }
            &:hover {
                animation: shake-btn 800ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                cursor: pointer; //VERSION DE DEMO: Change le curseur lors du survol            
                & span {
                color: $color-secondary;
                }
            }                        
        }
    }

    main {
        background: $color-septenary;
        display: flex;
        justify-content: center;
        padding-bottom: 4em;
    }

    .main-container-desktop {
        background: $color-septenary;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .main-restaurants-list-desktop {
        background: none;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        padding: 0;
        margin-top: 10em;
        width: 74%;
        &__item {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-top: 0;
            width: 100%;
        }        
        &__item {
            @include item-number-desktop; /*A VERFIIER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        }
        & .new {
            padding: 0.2em 0em;
            border-radius: 0.2em;
            font-size: x-large;
            margin: 0.5em 0 0 0.5em;
            right: unset;
            background-color: $color-tertiary;
            position: absolute;
        }
        & .description {
            padding: 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            & p {
                font-size: 1.2em;
                margin: 0 1em;
            }
            &-heart {
                margin-right: 2em;
                font-size: 0.4em;
            }
        }
    }
    
    //SUPPRESSION DE L'ICONE -CLIC ON SMARTPHONE- SI L'ÉCRAN A UNE RESOLUTION INFERIEURE A 1420px
    @media all and (max-width: 1420px) {

        .icon-site {
            display: none;
        }

        .main-how-to-use-desktop {
        
            &__bloc {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                margin-left: 0;
            }
            &__content {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
            }
        }
    }

    //VIGNETTE DE PRESENTATION DES DIFFERENTS CHOIX -ENTRÉES /PLATS /DESSERTS-
    .main-content__thumbnail-desktop-item {
        @for $i from 1 through $max-choice {
            &-#{$i} {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $color-background-primary;
                height: 5em;
                margin: 1.2em 0 0.1em;
                border-radius: 1em;
                box-shadow: 0 0.4em 0.5em rgb(1 1 1 /10%);
                overflow: hidden;
                width: 25em;
                &:hover {
                    cursor: pointer; //VERSION DE DEMONSTRATION: Change le curseur lors du survol
                    & .main-content__thumbnail-desktop-item__right-button {
                        transition: all 0.85s cubic-bezier(0.27, 0.04, 0.01, 1.00);
                        width: 45%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        right: 2em;
                        font-size: 1.5em;
                        color: $color-quaternary;
                        background-color: $color-tertiary;
                    }
                    & h4.thumbnail-title {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    & .main-content__thumbnail-desktop-item__content {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    & p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    .main-content__thumbnail-desktop-item__right-button {
        display: flex;
        width: 0;
        color: rgba(0, 0, 0, 0);
        overflow: hidden;
    }

    //ELEMENTS POUR LES PAGES DE MENUS
    .price {
        display: flex;
        align-items: center;
        padding: 1.2em 1.2em 0 1.2em;
        font-size: 1em;
        font-weight: 900;
    }

    .main-content__thumbnail-desktop-item__content {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        margin: 0 0 auto;
        padding-left: 0.4em;
        & h4.thumbnail-title {
            font-weight: 900;
            font-size: 1.1em;
            padding-bottom: 0.2em;
        }
        & p {
            font-size: 0.9em;
            font-family: Arial, serif;
            font-weight: normal;
        }           
    }

    //ELEMENT CLASS MAIN
    .main {
        
        &-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
            width: 100%;
            & img {
                width: 100%;
                height: 20em;        
                object-fit: cover;
            }
            &__restaurant-name-desktop {
                margin-top: -6em;
                background-color: $color-quaternary;
                width: 100%;
                border-radius: 3em 3em 0 0;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                & h1 {
                    margin: 1.5em 0;
                    padding: 0 1.5em;
                    font-size: 2em;
                    font-weight: normal;
                }
            }
            &__thumbnail-desktop {
                margin-top: 0;
                margin-bottom: 3em;
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                background: $color-quaternary;
                &-item {
                    &-1 {
                        @include slide-up;
                        animation-delay: 1000ms;
                    }
                    &-2 {
                        @include slide-up;
                        animation-delay: 1090ms;
                    }
                    &-3 {
                        @include slide-up;
                        animation-delay: 1180ms;
                    }
                    &-4 {
                        @include slide-up;
                        animation-delay: 1270ms;
                    }
                }
            }
        }
    }

    .choice {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;
    }
}


//PARAMETRES SPÉCIFIQUES POUR LA VERSION DESKTOP DU SITE AVEC UN MAX-WIDTH DE 1600px //
///////////////////////////////////////////////////////////////////////////////////////
@media all and (max-width: map-get($breakpoint-text-adapt, desktop-1600)) {


    .main-restaurants-list-desktop .description p {
        font-size: 1em;
        margin: 0 0.5em;
    }

    .main-restaurants-list-desktop .description-heart {
        margin-right: 3em;
        font-size: 0.3em;
        padding: 0 01em;
    }
}