// MIXINS

@mixin miseEnPage {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: $color-quaternary;
    & .green-underline {
        margin: 0;
        width: 3.2em;
        height: 0.2em;
        background-color: $color-tertiary;
    }    
}


///////////////////
// HEADER MIXINS //
@mixin header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin header-nav {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 0;
    width: 100%;
}


///////////////////
// BUTTON MIXINS //
@mixin user-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4em;
    box-shadow: 0em 0.4em 0.5em rgb(155 155 145 / 15%);
    border-radius: 1em;
    font-size: large;
    font-family: robotoregular, arial, serif;
    margin: 0;
    padding: 0 2em;
    background-color: $color-septenary;
    
    @media all and (min-width: map-get($breakpoint, desktop)) {
        flex-flow: row nowrap;
        margin: 2.8em 0;
        font-size: medium;
        background-color: $color-septenary;
    }
    &, p {
        padding: 0 1.2em;

        @media all and (min-width: map-get($breakpoint, desktop)) {
            padding: 0;
        }
    }
    &, span {
        padding-left: 1em;
    }
    &:hover {
        background-color: $color-senary; /*METTRE UN DARKEN !!!*/
    }
}


//////////////////////
// ITERATION MIXINS //
@mixin item-number {
    @for $i from 1 through 4 {
        &-#{$i} {
            margin: 1em 0em;
            box-shadow: 0 1em 1em $color-octonary;
            border-radius: 1.4em;
            height: 16em;
            width: 90%;
            & img {
                width: $thumbnail_width;
                height: $thumbnail-height;
                border-radius: $thumbnail-border-radius;
                object-fit: cover;
            }
        }
    }
}

@mixin item-number-desktop {
    @for $i from 1 through 4 {
        &-#{$i} {
            margin: 1.5em 0;
            border-radius: 2em;
            height: 45%;
            width: 30%;
            background: $color-quaternary;
            box-shadow: 0 0.3em 0.5em #5e5e5e36;
            color: #35353575;
            & img {
                width: 100%;
                height: 14em;
                border-radius: 2em 2em 0 0;
                object-fit: cover;
            }
        }
    }
}


////////////////////////////////////////////
// LOADING-SPINNER CIRCLE ROTATION EFFECT //
@mixin loadingSpinner {
    transition-delay: 2600ms;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;    
    &__background {
        animation: 3000ms linear fade-out;
        position: fixed;
        top: 0;
        left: 0; 
        z-index: 998;
        width: 0%;
        height: 0%;
    }
    &__loading-spinner {
        animation: 500ms linear spinner;
        animation-iteration-count: 8;
        visibility: hidden;
        position: fixed;
        z-index: 999;
        width: 15em;
        height: 15em;
        border: solid 1em rgba(0, 0, 0, 0.1);
        border-radius: 10em;
        border-bottom-color: $color-secondary;
        border-right-color: $color-primary;
    }
}

////////////////////////////////////////////////////////////////////////////
// LOADING LOGO ANIMATION -ALTERNATIVE VERSION FOR CIRCLE LOADING-SPINNER //
@mixin logoAnim {
    transition-delay: 2600ms;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    & img {
        animation: 3600ms linear pictogramme;
        position: fixed;
        z-index: 9998;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
    &__background {
        animation: 3800ms linear fade-out;
        position: fixed;
        top: 0;
        left: 0; 
        z-index: 998;
        width: 0%;
        height: 0%;
    }
    &__logo-letters {
        color: #3c3c3c;
        position: fixed;
        z-index: 9999;
        & span {
            font-family: shrikhandregular, Arial, serif;
            font-size: 3em;
            position: relative;
            top: 0.6em;
            display: inline-block;
            animation: lettersanim 300ms ease infinite alternate;
            animation-iteration-count: 10;
            color: $color-secondary;
            text-shadow: 0 0.05em 0 $color-secondary-darker, 0 0.1em 0 $color-secondary-darker, 0 0.11em 0 $color-secondary-darker, 0 0.12em 0$color-secondary-darker, 0 0.13em 0 $color-secondary-darker, 0 0.14em 0 transparent, 0 0.15em 0 transparent, 0 0.16em 0 transparent, 0 0.17em 0 transparent, 0 0.18em 0.5em rgba(0, 0, 0, 0.4);
            z-index: 999;
            &:nth-child(2) {
                animation-delay: 0.1s;
            }
            &:nth-child(3) {
                animation-delay: 0.2s;
            }
            &:nth-child(4) {
                animation-delay: 0.3s;
            }
            &:nth-child(5) {
                animation-delay: 0.4s;
            }
            &:nth-child(6) {
                animation-delay: 0.5s;
            }
            &:nth-child(7) {
                animation-delay: 0.6s;
            }
            &:nth-child(8) {
                animation-delay: 0.7s;
            }
        }
    }
}


//////////////////////////////////////
// THUMBNAILS ANIMATIONS /MENU PAGE //
@mixin slide-up {

    animation-name: slideUp;
    animation-delay: 3600ms;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-direction: normal;
	animation-fill-mode: both;
}