@font-face {
    font-family: 'shrikhandregular';
    src: url('police/shrikhand-regular-webfont.woff2') format('woff2'),
         url('police/shrikhand-regular-webfont.woff') format('woff'),
         url('police/shrikhand-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('police/roboto-regular-webfont.woff2') format('woff2'),
         url('police/roboto-regular-webfont.woff') format('woff'),
         url('police/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}