/** {
    background-color: #fff;
}*/
@font-face {
  font-family: "shrikhandregular";
  src: url("police/shrikhand-regular-webfont.woff2") format("woff2"), url("police/shrikhand-regular-webfont.woff") format("woff"), url("police/shrikhand-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("police/roboto-regular-webfont.woff2") format("woff2"), url("police/roboto-regular-webfont.woff") format("woff"), url("police/roboto-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}

h1 {
  font-size: 4em;
  font-family: shrikhandregular, arial, serif;
  /*    text-transform: uppercase;*/
}

h2 {
  font-size: 4em;
  font-family: shrikhandregular, arial, serif;
  width: 85%;
}

h3 {
  font-size: 3em;
  font-family: shrikhandregular, arial, serif;
  margin: 0.2em 0 0 1em;
}

p {
  font-size: 3em;
  font-family: robotoregular, arial, serif;
  margin: 0.2em 0 0 1em;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2em 0 2em 0;
}

.header-navigation {
  width: 100%;
}
.header-navigation__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}
.header-navigation__search {
  display: flex;
  justify-content: center;
}
.header-navigation__search__field-form {
  width: 100%;
  height: 8em;
}
.header-navigation__search input {
  background-color: #eaeaea;
}
.header-navigation__localisation {
  padding: 2em 4em 0 4em;
  background-color: #f6f6f6;
  text-align: center;
}
.header-navigation__localisation h1 {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.header-navigation__localisation p {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.header-navigation__localisation a {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 4em 0 8em 0;
}
.header-navigation__localisation h3 {
  width: 16em;
  height: 3em;
  color: #ebebeb;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em 1em 2em;
  background: linear-gradient(#ff79da, #9356DC);
  border-radius: 4em;
}

input#search-field {
  width: inherit;
  height: inherit;
  text-align: center;
  font-size: 1.5em;
  border: none;
  box-shadow: inset 0 0.4em 0.6em #5e5e5e36;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.main-how-to-use {
  width: 85%;
}
.main-how-to-use__button {
  /*width: 52em;
  border: solid; /*A SUPPRIMER*
  padding: 2em;*/
}
.main-how-to-use__button .step {
  position: absolute;
  padding: 4em 5em 0 0;
  margin: 2.5em -2em;
  width: 0em;
  height: 1em;
  border-radius: 10em;
  background-color: aqua;
}
.main-how-to-use__button .step p {
  font-size: 3em;
  margin: -1.2em 0 0 0.5em;
  position: absolute;
}
.main-how-to-use__button__choose-restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  /*border: solid; /*A SUPPRIMER*/
  box-shadow: 0em 0.4em 0.5em rgba(155, 155, 145, 0.15);
  border-radius: 1.5em;
  font-size: xx-large;
  font-family: shrikhandregular, arial, serif;
  margin: 2em 0 2em 0;
  background-color: #f6f6f6;
}
.main-how-to-use__button__choose-restaurant:hover {
  background-color: #f5edff;
}
.main-how-to-use__button__compose-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  /*border: solid; /*A SUPPRIMER*/
  box-shadow: 0em 0.4em 0.5em rgba(155, 155, 145, 0.15);
  border-radius: 1.5em;
  font-size: xx-large;
  font-family: shrikhandregular, arial, serif;
  margin: 2em 0 2em 0;
  background-color: #f6f6f6;
}
.main-how-to-use__button__compose-menu:hover {
  background-color: #f5edff;
}
.main-how-to-use__button__taste-restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  /*border: solid; /*A SUPPRIMER*/
  box-shadow: 0em 0.4em 0.5em rgba(155, 155, 145, 0.15);
  border-radius: 1.5em;
  font-size: xx-large;
  font-family: shrikhandregular, arial, serif;
  margin: 2em 0 2em 0;
  background-color: #f6f6f6;
}
.main-how-to-use__button__taste-restaurant:hover {
  background-color: #f5edff;
}
.main-restaurants-list {
  /*width: 85%;*/
  background-color: #f6f6f6;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 6em 0;
  margin-top: 8em;
  margin-bottom: -8em;
}
.main-restaurants-list__item {
  /*& img {
      width: $thumbnail_width;
      height: $thumbnail-height;
      object-fit: cover;
  }*/
}
.main-restaurants-list__item-1 {
  margin: 3em 0em;
  box-shadow: 0 1em 1em #eaeaea;
  border-radius: 2em;
  height: 36em;
  width: 85%;
}
.main-restaurants-list__item-1 img {
  width: 100%;
  height: 25em;
  border-radius: 2em 2em 0 0;
  object-fit: cover;
}
.main-restaurants-list__item-2 {
  margin: 3em 0em;
  box-shadow: 0 1em 1em #eaeaea;
  border-radius: 2em;
  height: 36em;
  width: 85%;
}
.main-restaurants-list__item-2 img {
  width: 100%;
  height: 25em;
  border-radius: 2em 2em 0 0;
  object-fit: cover;
}
.main-restaurants-list__item-3 {
  margin: 3em 0em;
  box-shadow: 0 1em 1em #eaeaea;
  border-radius: 2em;
  height: 36em;
  width: 85%;
}
.main-restaurants-list__item-3 img {
  width: 100%;
  height: 25em;
  border-radius: 2em 2em 0 0;
  object-fit: cover;
}
.main-restaurants-list__item-4 {
  margin: 3em 0em;
  box-shadow: 0 1em 1em #eaeaea;
  border-radius: 2em;
  height: 36em;
  width: 85%;
}
.main-restaurants-list__item-4 img {
  width: 100%;
  height: 25em;
  border-radius: 2em 2em 0 0;
  object-fit: cover;
}
.main-restaurants-list__item_title {
  height: 32em;
}
.main-restaurants-list-header {
  width: 100%;
}
.main-restaurants-list .new {
  position: absolute;
  right: 2em;
  font-size: xxx-large;
  margin: 1em 0;
  background-color: aquamarine;
}

footer {
  background-color: #424242;
  height: 12em;
  margin-top: 8em;
}
footer li {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-size: 2.6em;
}

/*# sourceMappingURL=ohmyfood_style.css.map */
